<div>
  <h2>Búsqueda de Legajos</h2>
  <form (ngSubmit)="search()">
    <div *ngIf="entidadDefinition">
      <div *ngFor="let field of getFields()">
        <label>{{ field }}</label>
        <ng-container [ngSwitch]="entidadDefinition[field]">
          <!-- Campos de texto -->
          <input *ngSwitchCase="'CharField'" type="text" [(ngModel)]="filters[field]" [name]="field" />
          <!-- Campos numéricos -->
          <input *ngSwitchCase="'IntegerField'" type="number" [(ngModel)]="filters[field]" [name]="field" />
          <!-- Campos de fecha -->
          <div *ngSwitchCase="'DateTimeField'">
            <label>Desde:</label>
            <input type="date" [(ngModel)]="filters[field + '_from']" [name]="field + '_from'" />
            <label>Hasta:</label>
            <input type="date" [(ngModel)]="filters[field + '_to']" [name]="field + '_to'" />
          </div>
          <!-- Otros tipos de campos según sea necesario -->
          <input *ngSwitchDefault type="text" [(ngModel)]="filters[field]" [name]="field" />
        </ng-container>
      </div>
    </div>
    <button type="submit">Buscar</button>
  </form>

  <!-- Tabla de resultados -->
  <table>
    <tr>
      <!-- Generar encabezados dinámicamente -->
      <th *ngFor="let field of getResultFields()">{{ field }}</th>
    </tr>
    <tr *ngFor="let legajo of legajos">
      <!-- Mostrar valores dinámicamente -->
      <td *ngFor="let field of getResultFields()">{{ legajo[field] }}</td>
    </tr>
  </table>

  <!-- Navegación de páginas -->
  <div *ngIf="totalPages">
    <button (click)="search(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="search(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
